.sideicons {
  position: relative;
  /* left: 21vw; */
  /* top: 0rem; */
}

.sideicons .date {
  display: inline-block;
  text-align: center;
  margin-bottom: 1.7rem;
  font-family: "Lora";
  padding: 1rem 0;
  border-top: 3px solid var(--color-primary);
}

.sideicons h1 {
  line-height: 0.8;
}

.sideicons small {
  opacity: 0.7;
}

.sideicons .icon {
  width: max-content;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}

.sideicons .icon:hover {
  background: var(--color-dark);
  color: #fff;
}
